__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
outputs/
checkpoints/
/models/
*.mp4
!asserts/*.mp4
*.safetensors
*.ckpt

!asserts/visualization/videos/*.mp4
